<div class="items-page flex flex-auto min-w-0" *ngxPermissionsOnly="['WORKFLOW']">
    <drawer-mini class="drawer-mini"></drawer-mini>

    <div class="flex-auto sm:p-6 md:p-8">
        <div class="text-3xl font-cairo font-bold tracking-tight leading-8 mb-10">Workflow</div>
        <div class="relative overflow-hidden mt-8 min-h-80 w-full">
            <p class="mb-6 font-medium w-3/5 text-xl">
                {{ 'Workflow schemes'  }}
            </p>
            <div *ngFor="let scheme of schemes" class="flex flex-col">
                <fuse-card class="custom-card px-4 py-2 flex justify-between shadow m-2">
                    <div class="flex items-center">
                        <p class="my-6 font-medium mb-2 mt-2 text-default">
                            {{scheme.code}}
                        </p>
                    </div>
                    <div class="flex justify-end ml-auto p-2">
                        <button class="sm:inline-flex mr-4" (click)="editScheme(scheme)" mat-stroked-button [color]="'primary'">
                            <mat-icon class="icon-size-5 ml-8 mr-1" [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                            <span class="mr-8">View</span>
                        </button>
                        <button class="sm:inline-flex mr-4" (click)="editScheme(scheme)" mat-stroked-button [color]="'primary'">
                            <mat-icon class="icon-size-5 ml-8 mr-1" [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                            <span class="mr-8">Edit</span>
                        </button>
                        <button class="sm:inline-flex mr-4" (click)="delete(scheme)" mat-stroked-button [color]="'warn'">
                            <mat-icon class="icon-size-5 ml-8 mr-1" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                            <span class="mr-8">Delete</span>
                        </button>
                    </div>
                </fuse-card>
            </div>

            <button class="sm:inline-flex mr-4" (click)="createScheme()" mat-stroked-button [color]="'primary'">
                <mat-icon class="icon-size-5 ml-8 mr-1" [svgIcon]="'heroicons_outline:document-add'"></mat-icon>
                <span class="mr-8">Create</span>
            </button>
        </div>
    </div>
    <create-workflow-modal #createWorkflowModal (modalSave)="refresh()"></create-workflow-modal>

</div>