<div class="header-container">
    <div class="header-container__title">
        Role Delete Confirmation
    </div>
    <div class="header-container__close-btn">
        <button mat-icon-button color="primary" (click)="closeModal()">
            <mat-icon class="cus-icon">close</mat-icon>
        </button>
    </div>
</div>

<div class="message-content">
    Are you sure do you want to proceed role deletion ?
</div>

<div class="button-content">
    <button type="submit" mat-raised-button color="primary" (click)="onDeletion()">Proceed Deletion</button>
</div>