.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: .1rem;
    }

    &__close-btn {
        button {
            mat-icon {
                color: #000 !important;
            }
        }
    }
}

.message-content{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .01rem;
    margin-top: 1.4rem;
}

.button-content{
    width: 100%;
    display: flex;
    justify-content: flex-end !important;
}