<div class="items-page flex flex-auto min-w-0">
    <drawer-mini class="drawer-mini"></drawer-mini>

    <div class="flex-auto overflow-hidden sm:p-6 md:p-8">
        <div class="text-3xl font-cairo font-bold tracking-tight leading-8 mb-10">Tags</div>
        <div class="relative overflow-hidden mt-8 min-h-80 w-full">
            <p class="mb-6 font-medium w-3/5 text-xl">
                All Tags
            </p>
            <mat-chip-list class="flex mb-6">
                <mat-basic-chip #c [selected]="item.templateId == tagselected" (click)="changeSelected(item.templateId,c)" [value]="item"  *ngFor="let item of templateData">
                    {{item.templateName}}
                    <!-- <mat-icon class="icon-size-5" matChipRemove [svgIcon]="'heroicons_solid:minus-circle'"></mat-icon> -->
                </mat-basic-chip>
            </mat-chip-list>
            <app-item-tag-datatable></app-item-tag-datatable>
        </div>
    </div>
</div>
