<div class="items-page flex flex-auto min-w-0">
    <drawer-mini class="drawer-mini"></drawer-mini>

    <div class="flex flex-col overflow-hidden flex-auto sm:p-6 md:p-8">
        <div class="flex justify-between items-start">
            <div class="text-3xl font-cairo font-bold tracking-tight leading-8 mb-10">
                Invite Supplier Registration
                <div class="flex flex-wrap items-center font-medium text-xl ml-px mt-2">
                    <div>
                        <a routerLink="/items/invite-supplier"
                            class="whitespace-nowrap text-primary-500 font-semibold ml-px">All Invite Suppliers</a>
                    </div>
                    <div class="flex items-center ml-2 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                        <a class="ml-1">Invite Supplier Registration</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="overflow-auto srm-bg rounded-lg rounded-t-none"
            *ngIf="tabConfiguration && tabConfiguration.length > 0">
            <mat-tab-group class="tab-type-one is-parent-tab" [selectedIndex]="selectedIndex"
                (selectedTabChange)="onTabChange($event)">
                <mat-tab *ngFor="let tab of tabConfiguration; let i = index" [label]="tab?.tabTitle"
                    class="direct-child-of-parent">
                    <ngx-survey #survey [isPreview]="true" [form]="tab?.selectedReviewForm?.form"
                        (formSubmit)="submitForm($event,tab?.selectedReviewForm?.id)"
                        [headerData]="tab?.selectedReviewForm?.headerData" [enableFileUpload]="true" [editable]="true"
                        [view]="true">
                    </ngx-survey>

                    <div *ngIf="survey && !supplierUniqueKey" class="tab-btn-action">
                        <button mat-raised-button color="primary" *ngIf="!isFinalSubmission"
                            (click)="proceed(survey,  (tabConfiguration.length - 1) === selectedIndex ? true : false)">
                            {{
                            (tabConfiguration.length - 1) === selectedIndex ?
                            'Send Supplier Invitation' :
                            'Proceed Next'
                            }}
                        </button>
                    </div>

                    <div *ngIf="survey && supplierUniqueKey" class="tab-btn-action">
                        <button mat-raised-button color="primary" *ngIf="!isFinalSubmission"
                            (click)="proceed(survey,  (tabConfiguration.length - 1) === selectedIndex ? true : false)">
                            {{
                            (tabConfiguration.length - 1) === selectedIndex ?
                            'Finalize Registration' :
                            'Proceed Next'
                            }}
                        </button>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
