<div class="min-w-full p-2">

    <form class="flex flex-col w-full" [formGroup]="frmCostFactorGroup"
        (ngSubmit)="onFormSubmit(frmCostFactorGroup.value)">
        <div class="pb-1">
            <div class="text-3xl font-cairo font-bold mb-6">
                {{newEditText}} Cost Factors List
            </div>
        </div>

        <mat-dialog-content class="min-w-full relative mb-4">

            <div class="w-full">
                <div class="flex w-full">
                    <div class="w-full" formArrayName="costFactorGroupModels">
                        <!-- added new -->
                        <div *ngFor="let item of costFactorGroupModels.controls; let i=index">
                            <!-- added new -->
                            <div [formGroupName]="i" class="flex flex-col">
                                <!-- added new -->
                                <div class="flex w-full items-end">
                                    <mat-form-field class="w-1/2 pr-2">
                                        <mat-label>List Title</mat-label>
                                        <input matInput formControlName="title"
                                        (input)="onNameInput($event.target.value,item)"  />
                                        <mat-error>
                                            <span
                                                    *ngIf="item.get('title').hasError('duplicate')">
                                                    Name already exists
                                                </span>
                                                <span
                                                *ngIf="item.get('title').hasError('invalid')">
                                                Invalid 
                                            </span>
                                        </mat-error> 
                                    </mat-form-field>
                                    <mat-form-field class="w-1/2 pl-2">
                                        <mat-label>List Name</mat-label>
                                        <input matInput formControlName="name" />
                                    </mat-form-field>
                                    <mat-form-field class="w-1/4 pl-2">
                                        <mat-label>Select Type</mat-label>
                                        <mat-select formControlName="isPrivate">
                                            <ng-container>
                                                <mat-option [value]=true>Private</mat-option>
                                                <mat-option [value]=false>Public</mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                    <button (click)="removeValueAt(i)" mat-icon-button class="mt-7 mb-3"><mat-icon color="warn" class="icon-size-5" svgIcon="heroicons_outline:trash"></mat-icon></button>
                                </div>
                                <div *ngIf="isNew" class="flex flex-col w-full">
                                    <button *ngIf="costFactorGroupModels.controls.length-1==i" type="button"
                                        class="sm:inline-flex mr-auto" (click)="addCostFactorList()" mat-stroked-button
                                        [color]="'primary'">
                                        <mat-icon class="icon-size-5 ml-8 mr-2"
                                            [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                                        <span class="mr-8">Add List</span>
                                    </button>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </mat-dialog-content>

        <mat-dialog-actions class="flex justify-end sticky bottom-0">
            <button mat-button mat-dialog-close [color]="'primary'" (click)="doAction()" type="button">
                <span class="mx-4">Cancel</span>
            </button>
            <button class="sm:inline-flex ml-4" mat-raised-button [color]="'primary'" type="submit" [disabled]="isSaved">
                <span class="mx-4">{{newEditbuttonText}}</span>
            </button>
        </mat-dialog-actions>
    </form>

</div>