/* set block_suppliers1 alignments */
.block_suppliers1-page {
    margin-top: 10px;
    padding: 5px 31px;

    .header-block {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: baseline;

        div {
            width: 33.33%;
            background-repeat: repeat-x;
        }
    }

	.text-supplier-block {
		color: #2C698B;
	}

	.text-supplier-action {
		color: #616161;
	}

	.table {
		width: 100%;
	  }
	  
	  .tr.example-detail-row {
		height: 0;
	  }
	  
	  .tr.example-element-row:not(.example-expanded-row):hover {
		background: whitesmoke;
	  }
	  
	  .tr.example-element-row:not(.example-expanded-row):active {
		background: #efefef;
	  }
	  
	  .example-element-row td {
		border-bottom-width: 0;
	  }
	  
	  .example-element-detail {
		overflow: hidden;
		display: flex;
	  }
	  
	  .example-element-diagram {
		min-width: 80px;
		border: 2px solid black;
		padding: 8px;
		font-weight: lighter;
		margin: 8px 0;
		height: 104px;
	  }
	  
	  .example-element-symbol {
		font-weight: bold;
		font-size: 40px;
		line-height: normal;
	  }
	  
	  .example-element-description {
		padding: 16px;
	  }
	  
	  .example-element-description-attribution {
		opacity: 0.5;
	  }

	  .example-form {
		min-width: 150px;
		max-width: 500px;
		width: 100%;
	  }
	  
	  .example-full-width {
		width: 100%;
		color: hsl(200, 7%, 84%);
		opacity: 10;
	  }

}
    
