.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: .1rem;
    }

    &__close-btn {
        button {
            mat-icon {
                color: #000 !important;
            }
        }
    }
}


.body-container {
    width: 100%;

    &--form {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 1rem;
    }

    &--radio-btn{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: .6rem;
    }

    mat-form-field {
        width: 48% !important;
    }
}

.button-content{
    width: 100%;
    display: flex;
    justify-content: flex-end !important;
}