<div class="min-w-full p-2">
    <form class="flex flex-col w-full" [formGroup]="frmCostFactorGroup"
    (ngSubmit)="onFormSubmit(frmCostFactorGroup.value)"
    >
        <div class="pb-1">
            <div class="text-3xl font-cairo font-bold mb-6">
                {{labelstring}} Cost Factors List
            </div>
        </div>
        <mat-dialog-content class="min-w-full relative mb-4">

                <div class="w-full">
                    <div class="flex flex-col"><!-- added new -->
                        <div class="flex w-full items-end">
                            <mat-form-field class="w-1/2 pr-2">
                                <mat-label>List Title</mat-label>
                                <input matInput formControlName="title"
                                (input)="onNameInput($event.target.value)" />
                                <mat-error>
                                    <span
                                            *ngIf="frmCostFactorGroup.get('title').hasError('duplicate')">
                                            Name already exists
                                        </span>
                                        <span
                                        *ngIf="frmCostFactorGroup.get('title').hasError('invalid')">
                                        Invalid
                                    </span>
                                </mat-error> 
                            </mat-form-field>
                            <mat-form-field class="w-1/2 pl-2">
                                <mat-label>List Name</mat-label>
                                <input matInput formControlName="name"/>
                                <!-- <mat-error>
                                    <span *ngIf="!teamList.get('teamName').valid && teamList.get('teamName').touched">Please enter Team Name</span>
                                </mat-error> -->
                            </mat-form-field>

                        </div>
                    </div>

                </div>

                <div class="flex flex-col justify-start mt-5">
                    <div class="flex align-center text-warn font-medium mb-2" *ngIf="iserror">
                        <mat-icon [svgIcon]="'heroicons_outline:check-circle'" class="mr-2 text-warn"></mat-icon>
                        <span>{{'Successfully saved'}}</span>
                    </div>
                    <div class="flex align-center text-green font-medium mb-2" *ngIf="issuccess">
                        <mat-icon [svgIcon]="'heroicons_outline:check-circle'" class="mr-2 text-green"></mat-icon>
                        <span>{{'Something went wrong'}}</span>
                    </div>
                </div>
        </mat-dialog-content>
        <mat-dialog-actions class="flex justify-end sticky bottom-0">
            <button mat-button mat-dialog-close [color]="'primary'" (click)="doAction()" type="button" *ngIf="!isAttributeVisibile">
                <span class="mx-4">Cancel</span>
            </button>
            <button class="sm:inline-flex ml-4" mat-raised-button [color]="'primary'" type="submit" *ngIf="!isAttributeVisibile" [disabled]="isSaved">
                <span class="mx-4">Save</span>
            </button>
            <button [matMenuTriggerFor]="menu"  type="button" class="inline-flex" mat-stroked-button [color]="'primary'" *ngIf="isAttributeVisibile">
                <mat-icon class="icon-size-5 ml-8 mr-2" [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                <span class="mr-8">Add New</span>
            </button>
            <mat-menu #menu="matMenu">
                <div class="flex flex-col max-h-60">
                    
                    <button class="sm:inline-flex p-0" mat-menu-item (click)="addCostFactorItem()">
                        <mat-icon matPrefix class="icon-size-5 ml-4" [color]="'primary'" [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                        <span class="mr-4 ml-1">Add Re-usable Cost Factors</span>
                    </button>
                    <button class="sm:inline-flex p-0" mat-menu-item (click)="addNewCostFactorItem()">
                        <mat-icon matPrefix class="icon-size-5 ml-4" [color]="'primary'" [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                        <span class="mr-4 ml-1">Add New Cost Factor</span>
                    </button>
                </div>
            </mat-menu>
        </mat-dialog-actions>
    </form>

</div>
