<div class="relative">


    <!--table component-->
    <div class="flex justify-end">
        <button type="button" class="inline-flex" mat-stroked-button [color]="'primary'" (click)="addNote()" [disabled]="!rfqModel.isSaveAsDraft">
            <mat-icon class="icon-size-5 ml-8 mr-2" [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
            <span class="mr-8">New Note</span>
        </button>
    </div>

    <!--base table component-->
    <div class="overflow-auto bg-gray-50 rounded-lg pt-4">
        <table mat-table [dataSource]="rfqHeaderNoteViewModel" matSort
            class="expanded-rows-table font-helvetica text-gray-500">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef style="max-width: 50px; width: 50px"></th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button [matMenuTriggerFor]="options" aria-label="Choose columns" [disabled]="!rfqModel.isSaveAsDraft">
                        <mat-icon color="primary" class="icon-size-5" svgIcon="heroicons_outline:dots-vertical">
                        </mat-icon>
                    </button>
                    <mat-menu #options="matMenu" class="min-width-235 z-1">
                        <button mat-menu-item (click)="EditRFQHeaderNote(row)">
                            <mat-icon color="primary" class="icon-size-5" svgIcon="heroicons_outline:pencil"></mat-icon>
                            Edit
                        </button>
                        <button mat-menu-item (click)="DeleteRFQHeaderNote(row)">
                            <mat-icon color="primary" class="icon-size-5" svgIcon="heroicons_outline:trash"></mat-icon>
                            Delete
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <!-- notesrno Column -->
            <ng-container matColumnDef="notesrno">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 90px; min-width: 70px">
                    Note Number
                </th>
                <td mat-cell *matCellDef="let row">
                    {{row.srNo}}
                </td>
            </ng-container>

            <!-- notes Column -->
            <ng-container matColumnDef="notes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 140px">
                    Notes
                </th>
                <td mat-cell *matCellDef="let row"> {{row.description}} </td>
            </ng-container>

            <!--type Column -->
            <ng-container matColumnDef="type4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 140px; min-width: 110px">
                    Type
                </th>
                <td mat-cell *matCellDef="let row">
                    <div class="flex">
                        <mat-form-field class="standalone-input">
                            <mat-select [(ngModel)]="row.attributeCategoryId"
                                (selectionChange)="UpdateRFQHeaderNote(row,true,$event)" [disabled]="!rfqModel.isSaveAsDraft">
                                <mat-option *ngFor="let categoryType of attributecategorys" [value]="categoryType.id">
                                    {{categoryType.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </td>
            </ng-container>

            <!--visibility Column -->
            <ng-container matColumnDef="visibility4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 160px; min-width: 150px">
                    Visibility to Suppliers
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox [color]="'primary'" name="{{row.id}}" [checked]="row.isVisibleToSuppliers"
                        (change)="UpdateRFQHeaderNote(row,false,$event)" [(ngModel)]="row.isVisibleToSuppliers" [disabled]="!rfqModel.isSaveAsDraft">
                    </mat-checkbox>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumn8"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumn8;"></tr>

            <!-- Row shown when there is no matching data. -->
            <!-- <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr> -->
        </table>
    </div>

    <div class="flex justify-end">
        <mat-paginator [length]="rfqsearchmodel.totalItems" [pageSize]="rfqsearchmodel.pageSize"
            [pageSizeOptions]="[5,10,15,20,25,100]" (page)="pageEvent=$event;OnPaginateChange($event)"
            showFirstLastButtons>
        </mat-paginator>
    </div>

    <!--table component end-->

</div>