.noneditable-deviation-grid {
    grid-template-columns: 250px 350px 250px 250px 250px;

}
.tbe-noneditable-line-items-parent-grid {
    grid-template-columns: 60px 60px 200px 300px 150px 100px 100px 60px 120px 100px 100px 100px 100px 100px 140px 180px 96px;
    word-break: break-word;
}

.mat-sort-header{
    font-weight: 600;
}