.body-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    &--permissions-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__header {
            font-size: 1rem;
        }

        &__body {
            width: 100%;
            display: flex;
            align-items: center;
            overflow: hidden;
            overflow-x: auto;

            mat-checkbox {
                &:not(:first-child) {
                    margin-left: 3rem !important;
                }
            }
        }
    }
}

.visibility-expansion {
    margin-top: 1rem !important;
}
