/* set dashboard alignments */
.dashboard-page {
    margin-top:10px;
    padding: 5px 31px;
}

/* table components */
table.expanded-rows-table {
	width: calc(100% - 2px);
	background: #fafafa !important;
	padding: 0 2px;

	td {
		padding: 4px 8px !important;
		background: white;
		color: #464A53 !important;
		&.mat-cell{
			border-bottom: 0;
            font-size: 13px;
            .mat-icon-button{
                min-height: 36px !important;
                height: 36px !important;
                width: 36px !important;
            }
		}
        &.mat-footer-cell{
            background: #576E82;
            color: #fff !important;
            border: 3px solid #576E82;
            box-shadow: 0 0 2px #576e82;
            font-weight: bold;
        }
	}
	th{
        font-size: 13px !important;
        padding: 8px !important;
        border-bottom-width: 0 !important;
        font-weight: 500;
        font-family: Roboto, "Helvetica Neue", sans-serif;
	}
	tr.mat-header-row{
		height: 32px !important;
	}
    tr.mat-row{
        height: 42px !important;
        border-bottom: 1px solid #e3e3e3;
    }
	tr:hover {
		cursor: pointer;
	}
	.mat-form-field-wrapper{
		margin-bottom: 0 !important;
	}
	.mat-sort-header-content{
		text-align: left;
	}
	&.with-search{
		.mat-sort-header-content, .mat-form-field{
			width: 100%;
			min-width: 100%;
			max-width: 100%;
		}
		.th-with-search{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			text-align: left;
			width: 100%;
			span{
				margin-right: 20px;
			}
		}
		tr.mat-header-row .mat-header-cell{
			vertical-align: bottom !important;
		}
		.mat-sort-header-container{
			align-items: flex-start;
			.mat-sort-header-arrow{
				margin-top: 4px !important;
				margin-right: 10px;
				position: relative;
				right: 20px;
			}
		}
	}
}

/* set alighments in input fields */
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex{
    min-height: 38px !important;
    .mat-form-field-infix .mat-input-element{
        padding: 10px 0 !important;
    }
}
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-suffix .mat-icon-button{
    width: 36px;
    min-width: 36px;
    height: 36px;
    min-height: 36px;
}
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-select{
    padding: 10px 0;
}

.standalone-input.mat-form-field {
    width: 100%;
    .mat-form-field-wrapper {
        margin-bottom: 0 !important;
        .mat-form-field-flex{
            min-height: 36px !important;
        }
    }
}

//button styles 
.mat-stroked-button.mat-button-base{
	border-radius: 5px !important;
	border-color: var(--fuse-primary) !important;
	&.rounded-l-none{
		border-bottom-left-radius: 0 !important;
		border-top-left-radius: 0 !important;
	}
	&.mat-warn{
		border-color: var(--fuse-warn) !important;
	}
}
.mat-raised-button.mat-button-base, .mat-flat-button.mat-button-base, .mat-button.mat-button-base{
	border-radius: 5px !important;
	&.rounded-l-none{
		border-bottom-left-radius: 0 !important;
		border-top-left-radius: 0 !important;
	}
}
.mat-button,
.mat-flat-button,
.mat-raised-button,
.mat-stroked-button {
	font-size: 14px !important;
	min-height: 38px !important;
}
.small-btn.mat-button,
.small-btn.mat-flat-button,
.small-btn.mat-raised-button,
.small-btn.mat-stroked-button {
    min-height: 28px !important;
}
.h-36{
    height: 36px !important;
}
.height-32{
    height: 32px !important;
}
.m-h-30{
    min-height: 30px !important;
    min-width: 30px !important;
    max-height: 30px !important;
    max-width: 30px !important;
}
.parent-with-hover-child-btn{
    .hover-child-btn{
        display: none !important;
    }
    &:hover{
        .hover-child-btn{
            display: block !important;
        }
    }
}
