.response-approval-page {
    form {
        width: 100%;

        div {
            margin: 0 0 0 1rem;
        }
    }

    table {
        width: 100%;
    }

    .head {
        width: 12.5% !important;
        font-weight: 500;
        margin-bottom: 1rem !important;

        &:first-of-type {
            width: 50% !important;
        }
    }


    .line {
        background-color: #fbfbfb;
        padding-top: 0.5rem;
        margin-bottom: 0.5rem !important;

        .questions {
            width: 50% !important;
        }

        .answers {
            width: 12.5% !important;
            padding-bottom: 1rem !important;
        }
    }

    .block {
        background-color: #fbfbfb;
        padding: 0.5rem;
        margin-bottom: 0.5rem !important;
    }

    .mat-form-field.mat-form-field-appearance-fill {
        min-width: 175px;
    }
}
