   
    .header-4{
        width:200px !important;
    }
    .header-11{
        width:200px !important;
    }
    .header-12{
        width:200px !important;
    }
    .mat-sort-header-container {
        display: flex;
        cursor: pointer;
        align-items: center;
        letter-spacing: normal;
        outline: 0;
    }
    .line-items-parent-grid {
        grid-template-columns: 30px 40px 40px 50px 100px 100px 180px 40px 50px 80px 40px 40px 40px 40px;
    }
    .truncate {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }
    body.light .mat-button, body.light .mat-icon-button, body.light .mat-stroked-button, body .light .mat-button, body .light .mat-icon-button, body .light .mat-stroked-button {
        color: inherit;
        background: transparent;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        line-height: 40px;
        border-radius: 50%;
    }
    .py-px {
        padding-top: 1px !important;
        padding-bottom: 1px !important;
    }
    .px-2 {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
    .gap-4 {
        grid-gap: 1rem !important;
        gap: 3rem !important;
    }
    .items-center {
        align-items: center !important;
    }
    .grid {
        display: grid !important;
    }
    .custom-tbl-row {
        padding: 4px 8px !important;
        background: white;
        min-height: 42px !important;
        border-bottom: 1px solid #e3e3e3;
        color: #464A53 !important;
    } 