   .header-4 {
       width: 200px !important;
   }

   .header-9 {
       width: 200px !important;
   }

   .header-10 {
       width: 200px !important;
   }

   .header-11 {
       width: 200px !important;
   }

   .header-12 {
       width: 200px !important;
   }

   .line-items-parent-grid {
       grid-template-columns: 30px 60px 60px 200px 180px 150px 100px 100px 60px 120px 100px 100px 100px 40px;
   }
   .hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 