<div class="dashboard-page flex flex-col flex-auto min-w-0">
    <!-- Breadcrumbs -->
    <div class="text-3xl font-cairo font-bold tracking-tight leading-8 mb-10">
        <div class="flex flex-wrap items-center font-medium text-lg ml-px mt-1">
            <div>
                <a
                    class="whitespace-nowrap text-primary-500 font-semibold ml-px"
                    >Setup</a
                >
            </div>
            <div class="flex items-center ml-2 whitespace-nowrap">
                <mat-icon
                    class="icon-size-5 text-secondary"
                    [svgIcon]="'heroicons_solid:chevron-right'"
                ></mat-icon>
                <a
                    class="whitespace-nowrap text-primary-500 font-semibold ml-px"
                    >Password policy</a
                >
            </div>
        </div>
    </div>

    <form [formGroup]="passwordPolicyForm" (ngSubmit)="submitForm()">
        <div class="srm-bg rounded-lg rounded-t-none">
            <!-- Configuration field -->
            <div
                class="text-2xl pl-2 pt-2 font-cairo font-bold tracking-tight leading-8 mb-8"
            >
                Password Configuration
            </div>

            <div class="mr-4 pl-2">
                <div class="fuse-mat-no-subscript fuse-mat-emphasized-affix">
                    <div class="flex ml-auto">
                        <div
                            class="sm:inline-flex mr-4"
                            style="display: flex; flex-direction: column"
                        >
                            <div class="font-medium base text-base pt-4">
                                Password should contain
                            </div>
                            <section class="pl-4 example-section">
                                <mat-checkbox
                                    class="example-margin"
                                    color="primary"
                                    formControlName="upperCase"
                                    >Upper Case Characters</mat-checkbox
                                >
                                <mat-checkbox
                                    class="example-margin"
                                    color="primary"
                                    formControlName="lowerCase"
                                    >Lower Case Characters</mat-checkbox
                                >
                                <mat-checkbox
                                    class="example-margin"
                                    color="primary"
                                    formControlName="numericValue"
                                    >Numeric Value</mat-checkbox
                                >
                                <mat-checkbox
                                    class="example-margin"
                                    color="primary"
                                    formControlName="specialCharacter"
                                    >Special Character</mat-checkbox
                                >
                            </section>
                        </div>
                    </div>
                </div>

                <div
                    class="flex w-full pt-2"
                    style="display: flex; flex-direction: row"
                >
                    <div
                        class="sm:inline-flex mr-4"
                        style="display: flex; flex-direction: column"
                    >
                        <div class="font-medium base text-base pt-4">
                            Password Length
                        </div>

                        <div
                            style="display: flex; flex-direction: row"
                            class="pl-4"
                        >
                            <mat-form-field class="w-30 pl-4 pt-2 row">
                                <mat-label>Minnimum</mat-label>
                                <input
                                    matInput
                                    type="number"
                                    formControlName="maxLength"
                                />
                            </mat-form-field>

                            <mat-form-field class="w-30 pl-4 pt-2 row">
                                <mat-label class="pl-2">Maximum</mat-label>
                                <input
                                    matInput
                                    type="number"
                                    formControlName="minLength"
                                />
                            </mat-form-field>
                        </div>

                        <div
                            class="sm:inline-flex mr-4"
                            style="display: flex; flex-direction: column"
                        >
                            <div class="font-medium base text-base pt-4">
                                System Lock
                            </div>

                            <div style="display: flex; flex-direction: row">
                                <div
                                    class="pl-6"
                                    style="
                                        display: flex;
                                        flex-direction: column;
                                    "
                                >
                                    <mat-label
                                        >Maximum Tries of Incorrect
                                        Password:</mat-label
                                    >
                                    <mat-form-field class="w-30 pl-2 pt-8 row">
                                        <input
                                            matInput
                                            type="number"
                                            formControlName="maxTries"
                                        />
                                    </mat-form-field>
                                </div>

                                <div
                                    class="pl-15"
                                    style="
                                        display: flex;
                                        flex-direction: column;
                                    "
                                >
                                    <div class="font-base text-base mb-2">
                                        System Lock Time Duration:
                                    </div>

                                    <div
                                        style="
                                            display: flex;
                                            flex-direction: row;
                                        "
                                        class="pl-4"
                                    >
                                        <mat-form-field class="w-30 pl-4 row">
                                            <mat-label>Hours</mat-label>
                                            <input
                                                matInput
                                                type="number"
                                                formControlName="lockHour"
                                            />
                                        </mat-form-field>

                                        <mat-form-field class="w-30 pl-4 row">
                                            <mat-label class="pl-2"
                                                >Minutes</mat-label
                                            >
                                            <input
                                                matInput
                                                type="number"
                                                formControlName="lockMinute"
                                            />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>

            <!-- Expiry field -->
            <div
                class="text-2xl pl-2 pt-2 font-cairo font-bold tracking-tight leading-8 mb-8"
            >
                Password Expiry
            </div>

            <div
                class="flex w-full pt-2 pl-2"
                style="display: flex; flex-direction: row"
            >
                <div
                    class="sm:inline-flex mr-4"
                    style="display: flex; flex-direction: column"
                >
                    <div class="font-medium base text-base pt-4">
                        Password Validity Period
                    </div>
                    <mat-form-field class="pl-8 w-60 pt-6" appearance="fill">
                        <mat-select formControlName="validityPeriod">
                            <mat-option value="30">30 Days</mat-option>
                            <mat-option value="60">60 Days</mat-option>
                            <mat-option value="90">90 Days</mat-option>
                            <mat-option value="120">120 Days</mat-option>
                            <mat-option value="180">180 Days</mat-option>
                            <mat-option value="365">365 Days</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div
                    class="sm:inline-flex mr-4 pl-15"
                    style="display: flex; flex-direction: column"
                >
                    <div class="font-medium base text-base pt-4 pl-2">
                        Session Expiry
                    </div>
                    <div
                        class="pl-4"
                        style="display: flex; flex-direction: row"
                    >
                        <mat-form-field class="w-30 pl-4">
                            <mat-label>Hours</mat-label>
                            <input
                                matInput
                                type="number"
                                formControlName="expiryHour"
                            />
                        </mat-form-field>

                        <mat-form-field class="w-30 pl-4">
                            <mat-label class="pl-2">Minutes</mat-label>
                            <input
                                matInput
                                type="number"
                                formControlName="expiryMinute"
                            />
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div
                class="sm:inline-flex mr-4 pl-2"
                style="display: flex; flex-direction: column"
            >
                <div class="font-medium base text-base pt-4">
                    Password Validation
                </div>

                <div class="w-80">
                    <mat-form-field class="w-60 pl-8 pt-2">
                        <input
                            matInput
                            type="number"
                            formControlName="pwvalidation"
                        />
                        <mat-hint
                            >Not allowed to use last
                            {{
                                passwordPolicyForm.value.pwvalidation !== null ? passwordPolicyForm.value.pwvalidation: 0
                            }}
                            no of paswords as selected</mat-hint
                        >
                    </mat-form-field>
                </div>
            </div>
        </div>
        
        <!--button-->
        <div class="flex justify-end ml-auto p-6">
            <button
                type="button"
                class="sm:inline-flex mr-4"
                mat-stroked-button
                [color]="'primary'"
            >
                <span class="mx-8">Cancel</span>
            </button>
            <button
                class="sm:inline-flex mr-4"
                mat-raised-button
                [color]="'primary'"
                type="submit"
            >
                <span class="mx-8">Save</span>
            </button>
        </div>
    </form>
</div>
