<!-- <mat-label style ="font-weight: 420">Logo</mat-label> -->
<!-- <mat-label style ="font-weight: 420">Logo</mat-label> -->

<div class="flex">
    <mat-label class="label" style="font-weight: 600;color: black;">{{item.label}} <span *ngIf="item.required">*</span>
    </mat-label>
    <mat-form-field class="flex flex-col align-center mr-1 w-1/2 pr-2 pl-2" [ngClass]="{'gray':view === false}">
        <input matInput readonly hidden>
        <input matInput value="{{ fileName }}" readonly style="width: 800px">
        <input matInput readonly>
        <mat-icon style="cursor: pointer;" matSuffix class="icon-size-5 text-secondary"
            [svgIcon]="'heroicons_outline:paper-clip'" (click)="downloadAttachment('logo', logoFileInput); "></mat-icon>
        <button *ngIf="fileUploader.queue[0]" mat-icon-button class="flex mt-1"
            (click)="onRemove()">
            <mat-icon color="warn" svgIcon="heroicons_outline:trash"></mat-icon>
        </button>
    </mat-form-field>

    <button type="button" mat-stroked-button [color]="'primary'" (click)="logoFileInput.click()">
        <mat-icon class="icon-size-5 mx-2" [svgIcon]="'mat_outline:upload'"></mat-icon>
    </button>

    <span hidden>
        <input type="file" name="logo" #logoFileInput ng2FileSelect [uploader]="fileUploader"
            [formControl]="requiredBasicData" (change)="onAfterAddingFile($event)"
            accept=".jpg, .jpeg, .png, .pdf, .txt, .tex, .text, .doc, .xpd, .docx, .rtf, .csv, .ods, .odt, .xlsx, .xlsm, .xls, .xml, .svg, .tif, .tiff, .gif, .bmp, .xhtml, .html, .key, .odp, .pptx, .pps, .ppt" />
    </span>
</div>
<div class="flex justify-start ml-1 flex-col">
    <div class="flex align-center text-warn font-medium mb-2" *ngIf="item.errors && item.errors.length && view">
        <div *ngFor="let error of item.errors">{{error.message}}</div>
    </div>
    <div class="flex align-center text-warn font-medium mb-2" *ngIf="emptyFileLogo">
        <mat-icon [svgIcon]="'warning_amber'" class="mr-2 text-warn"></mat-icon>
        <span>Empty files are not allowed to be uploaded</span>
    </div>
    <div class="flex align-center text-warn font-medium mb-2" *ngIf="UnSupportFormatLogo">
        <mat-icon [svgIcon]="'warning_amber'" class="mr-2 text-warn"></mat-icon>
        <span>Not allowed to upload file with unsupported format</span>
    </div>
</div>