.review-response-page {

    form {
        width: 100%;

        div {
            margin: 0 0 0 1rem;
        }
    }

    table {
        width: 100%;
    }

    .head {
        width: 12.5% !important;
        font-weight: 500;
        margin-bottom: 1rem !important;

        &:first-of-type {
            width: 50% !important;
        }
    }

    .charts {
        margin: 5px 5px 13px 1rem !important;
        padding: 1rem;
        min-width: 250px;
        box-shadow: 1px 1px 2px 0px rgb(0 0 0 / 7%), 0px 5px 2px 1px rgb(0 0 0 / 7%), 0px 3px 7px 0px rgb(0 0 0 / 8%);
    }

    .line {
        background-color: #fbfbfb;
        padding-top: 0.5rem;
        margin-bottom: 0.5rem !important;

        .questions {
            width: 50% !important;
        }

        .answers {
            width: 12.5% !important;
            padding-bottom: 1rem !important;
        }
    }

    .block {
        background-color: #fbfbfb;
        padding: 0.5rem;
        margin-bottom: 0.5rem !important;
    }

    .mat-form-field.mat-form-field-appearance-fill {
        min-width: 175px;
    }

    .float-parent {
        border: 3px solid #fff;
        padding: 20px;
    }

    .float-child {
        width: 50%;
        float: left;
        padding: 20px;
        border: 2px solid red;
    }

    .mat-step-header .mat-step-icon-state-done,
    .mat-step-header .mat-step-icon-state-edit {
        background-color: transparent !important;
        // color: $success;

        // +.mat-step-label {
        //     color: $success  !important;
        // }
    }

    .mat-step-header .mat-step-icon-selected {
        // background-color: $primary;
        background-color: transparent !important;
        // color: $primary;

        // +.mat-step-label {
        //     color: $primary  !important;
        // }
    }

    .mat-step-header .mat-step-label {
        color: rgba(0, 0, 0, .54)
    }

    .mat-step-header .mat-step-icon {
        color: rgba(0, 0, 0, .54);
        background-color: transparent;
    }

    $success: #35A255 !default;
    $primary: #007CBB !default;
}