<div class="flex column user-permission">
    <div class="overflow-auto bg-gray-50 rounded-lg">
        <div class="loader-inline" *ngIf="rolesDataSource?.filteredData?.length === 0 && isLoading">
            <img src="assets/images/xitricon-loader.gif" alt="loading">
        </div>

        <div class="role-container">
            <div class="role-container__header">
                Role Details
            </div>
            <button type="button" mat-raised-button color="primary" (click)="roleCreateUpdatePopup()">Create New
                Role</button>
        </div>

        <table mat-table [dataSource]="rolesDataSource" matSort
            class="expanded-rows-table font-helvetica text-gray-500 w-full">
            <ng-container matColumnDef="roleName">
                <th mat-header-cell *matHeaderCellDef> <span mat-sort-header>Role Name</span>
                    <mat-form-field>
                        <input matInput class="form-field" [(ngModel)]="roleName"
                            (keyup)="filterChange('roleName',$event)">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"><a (click)="getRowInfo(row)">{{element.roleName}}</a> </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef><span mat-sort-header>Description</span>
                    <mat-form-field>
                        <input matInput class="form-field" [(ngModel)]="roleDescription"
                            (keyup)="filterChange('roleDescription',$event)">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.roleDescription}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef><span mat-sort-header>Type</span>
                    <mat-form-field>
                        <input matInput class="form-field" [(ngModel)]="type" (keyup)="filterChange('type',$event)">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.roleType}} </td>
            </ng-container>

            <ng-container matColumnDef="roleAssignedUser">
                <th mat-header-cell *matHeaderCellDef><span mat-sort-header>Created By</span>
                    <mat-form-field>
                        <input matInput class="form-field" [(ngModel)]="roleAssignedUser"
                            (keyup)="filterChange('roleAssignedUser',$event)">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"> {{getUser(element?.roleAssignedUserId)}} </td>
            </ng-container>

            <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef><span mat-sort-header>Created Date</span>
                    <mat-form-field>
                        <input matInput class="form-field" [(ngModel)]="createdDate"
                            (keyup)="filterChange('createdDate',$event)">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element"> {{element?.createdOn + 'Z' |date: 'MM/dd/yyyy, h:mm a'}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef><span mat-sort-header>Actions</span>
                </th>
                <td mat-cell *matCellDef="let element">
                    <button class="role-btn-action" mat-icon-button color="accent"
                        (click)="roleCreateUpdatePopup(element)" matTooltip="Edit Role">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" (click)="deleteConfirmation(element?.id)"
                        matTooltip="Delete Role">
                        <mat-icon>delete</mat-icon>
                    </button>

                    <button mat-icon-button color="accent" matTooltip="Configure Permissions" (click)="openPermissionConfiguration(element)">
                        <mat-icon>verified_user</mat-icon>
                    </button>
                    <!-- <button mat-icon-button color="accent">
                        <mat-icon>copy_all</mat-icon>
                    </button> -->
                    <!-- <mat-slide-toggle (click)="activateUser(element)">{{element.isChecked?Activated:Deactivated}}
                    </mat-slide-toggle> -->
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedDashboardColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedDashboardColumns;"></tr>

            <tr class="mat-row" *matNoDataRow [hidden]="isLoading">
                <td class="mat-cell" colspan="4">No data matching the filter</td>
            </tr>
        </table>
    </div>
    <div class="flex justify-end">
        <mat-paginator #tableOnePaginator class="flex text-lg" [pageSizeOptions]="[5, 10, 25]"
            [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
</div>