@font-face {
    font-family: 'Helvetica';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("HELR45W_0.ttf") format("ttf");
}
