.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: .1rem;
    }

    &__close-btn {
        button {
            mat-icon {
                color: #000 !important;
            }
        }
    }
}



