<div class="dashboard-page flex flex-col flex-auto min-w-0" 
*ngxPermissionsOnly="['SURVEY_QUESTION']">

    <div class="flex justify-between">
        <div class="text-2xl font-cairo font-bold tracking-tight leading-8 mb-8">Survey Questions</div>
        <button type="button" class="sm:inline-flex ml-auto" mat-stroked-button [color]="'primary'"
            (click)="createQue()">
            <mat-icon class="icon-size-5 ml-8 mr-2" [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
            <span class="mr-8">Create Survey Question</span>
        </button>
    </div>

    <!--Div section for the Question Name Field-->
    <div class="relative">
        <div class="srm-bg mb-4 rounded-lg rounded-t-none">
            <div class="p-6">
                <div class="flex flex-col flex-wrap sm:flex-row items-center max-w-xs sm:max-w-none">

                    <!--search options-->
                    <div class="mr-4">
                        <mat-form-field
                            class="fuse-mat-no-subscript fuse-mat-emphasized-affix sm:w-90 mt-4 sm:mt-0 mr-1 mb-3">
                            <div class="text-secondary px-4" matPrefix>Question Name</div>
                            <input matInput placeholder="Search by Question Name" #input [(ngModel)]="name">
                        </mat-form-field>
                        <mat-form-field class="fuse-mat-no-subscript sm:w-32 mt-4 sm:mt-0 mb-3" [floatLabel]="'always'">
                            <mat-select [(ngModel)]="type">
                                <mat-option value="">Select Type</mat-option>
                                <ng-container>
                                    <mat-option value="private">Private</mat-option>
                                    <mat-option value="public">Public</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <button class="sm:inline-flex mb-3" mat-stroked-button [color]="'primary'" type="button"
                        (click)="searchData()">
                        <mat-icon matPrefix class="icon-size-5 ml-8" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                        <span class="mr-8 ml-4">Search</span>
                    </button>
                </div>
            </div>
        </div>

        <!--Div section for the table-->
        <div class="overflow-auto bg-gray-50 rounded-lg">
            <table mat-table [dataSource]="surveyQuestionSearchModel.surveyQuestionModels" matSort
                class="expanded-rows-table font-helvetica text-gray-500">
                <!-- ID Column -->
                <ng-container hidden matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 60px"> </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="options" aria-label="Choose columns">
                            <mat-icon color="primary" class="icon-size-5" svgIcon="heroicons_outline:dots-vertical">
                            </mat-icon>
                        </button>
                        <mat-menu #options="matMenu" class="min-width-235 z-1">
                            <button mat-menu-item type="button" (click)="editQue(row)">
                                <mat-icon color="primary" class="icon-size-5" svgIcon="heroicons_outline:pencil">
                                </mat-icon>
                                Edit
                            </button>
                            <button mat-menu-item type="button" (click)="DeleteSurveyQuestion(row)">
                                <mat-icon color="primary" class="icon-size-5" svgIcon="heroicons_outline:trash">
                                </mat-icon>
                                Delete
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <!-- Associated Templates Column -->
                <ng-container matColumnDef="template">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 200px;"> Associated
                        Templates </th>
                    <td mat-cell *matCellDef="let row">
                        {{row.associatedTemplate}}
                    </td>
                </ng-container>

                <!-- Question Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 200px;"> Question Name </th>
                    <td mat-cell *matCellDef="let row">{{row.name}}</td>
                </ng-container>

                <!-- Question Description Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 250px;"> Question
                        Description </th>
                    <td mat-cell *matCellDef="let row">{{row.description}}</td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 100px;"> Question Type </th>
                    <td mat-cell *matCellDef="let row">{{row.isPrivate == true ? "Private" : "Public"}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr (click)="EditTeam(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <div class="flex justify-end">
                <mat-paginator [length]="surveyQuestionSearchModel.totalItems"
                    [pageSize]="surveyQuestionSearchModel.pageSize" [pageSizeOptions]="[5, 10, 15, 20, 25, 100]"
                    (page)="pageEvent=$event;OnPaginateChange($event)" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>

</div>