.awardline-grid {
    grid-template-columns: 150px 150px 180px 180px 180px 300px 150px;
    border-top: 1px solid #eeeeee !important;
    border-bottom: 1px solid #eeeeee !important;
}

.mat-sort-header{
    font-weight: 600;
}