<div class="items-page flex flex-auto min-w-0">
    <drawer-mini class="drawer-mini"></drawer-mini>

    <div class="flex flex-col overflow-hidden flex-auto sm:p-6 md:p-8">
        <div class="text-3xl font-cairo font-bold tracking-tight leading-8 mb-10">
            {{ code  }}
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium text-xl ml-px mt-2">
                <div>
                    <a href="http://localhost:4200/items/workflow" class="whitespace-nowrap text-primary-500 font-semibold ml-px">{{'Workflow schemes'}}</a>
                </div>
                <div class="flex items-center ml-2 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1">{{code}}</a>
                </div>
            </div>
        </div>
        <div class="relative overflow-hidden min-h-80 w-full">
            <div class="flex flex-col">
                    <div class="flex justify-end ml-auto p-2">
                        <button class="sm:inline-flex mr-4" (click)="save()"  mat-stroked-button [color]="'primary'">
                            <mat-icon class="icon-size-5 ml-8 mr-1" [svgIcon]="'heroicons_outline:save'"></mat-icon>
                            <span class="mr-8">Save</span>
                        </button>
                        <button class="sm:inline-flex mr-4" (click)="download()" mat-stroked-button [color]="'primary'">
                            <mat-icon class="icon-size-5 ml-8 mr-1" [svgIcon]="'heroicons_outline:download'"></mat-icon>
                            <span class="mr-8">Download</span>
                        </button>
                        <button class="sm:inline-flex mr-4" (click)="upload()" mat-stroked-button [color]="'warn'">
                            <mat-icon class="icon-size-5 ml-8 mr-1" [svgIcon]="'heroicons_outline:upload'"></mat-icon>
                            <span class="mr-8">Upload</span>
                        </button>
                    </div>
            </div>
            <div class="overflow-auto srm-bg rounded-lg rounded-t-none">
                <div class="iframe-parent" style="min-height: 800px">
                    <iframe id="designer" src="/assets/workflow/designer.html" frameborder="0" border="0"
                        cellspacing="0" style="border-style: none;width: 100%; height: 600px;margin-top: 5%;">
                    </iframe>
                </div>
            </div>

        </div>
    </div>
</div>