<mat-selection-list #selectedOptions *ngIf="init" 
    (selectionChange)="onSelectionChange($event)"
    [disabled]="!editable"
    color="primary"
    [multiple]="multiple"
>
    <!--
        [selected]="isOptionSelected(option)"
    -->
    <mat-list-option *ngFor="let option of options"
        [value]="option.optionValue" 
        [selected]="isOptionSelected(option)"
        (click)="onOptionClick($event, option)"
        color="primary" class="selection-list"
    >
        {{option.label}}
    </mat-list-option>
</mat-selection-list>