.internal-user-role-assign-page{
.content-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    align-items: stretch;
}
}