button.calendar,
button.calendar:active {
  width: 4.5rem;
  height: 4.5rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  border: none;
}

.ngb-dp-day {
  width: 4rem !important;
  height: 4rem !important;
}

.ngb-dp-day>div {
  width: 4rem !important;
  height: 4rem !important;
  line-height: 4rem !important;
  background-color: whitesmoke;
}

.ngb-dp-weekday {
  width: 4rem !important;
  background-color: rgb(196, 217, 255);
}

.swal2-container.swal2-bottom,
.swal2-container.swal2-center,
.swal2-container.swal2-top {
  pointer-events: painted !important;
}


.white-icon svg {
  fill: white;
}

:host .green {
  color: #00C389;
  position: absolute;
  z-index: 9999;
}

:host .my-table>thead>tr>th.mat-header-cell {
  background-color: #f1f1f1;
  text-align: center;
  font-weight: 900;
  color: black;
  vertical-align: middle;
}