 <!--first screen-->
 <div class="min-w-full p-2" *ngIf="firstScreen">
    <div class="srm-bg mb-4 rounded-lg rounded-t-none">
        
         <!--headers-->
        <div class="text-3xl font-cairo font-bold mb-5 pl-1 pt-2">
           <p *ngIf="data.action==='createTable'">Create New Table</p>   
           <p *ngIf="data.action==='createValue'">Create New Value</p>   
        </div>
        <div >


            <div class="flex justify-between border rounded bg-white pt-4 mb-2 p-4 divide-solid divide-x divide-gray-300">
                <div *ngIf="data.action==='createValue'" class="block flex flex-col px-6 my-3 items-center justify-center text-center w-full">
                    <h3 class="text-base font-medium leading-none text-secondary">Table Name</h3>
                    <p class="text-2xl font-semibold mt-2 leading-none font-roboto font-medium">Country Codes</p>
                </div>
                <div *ngIf="data.action==='createValue'" class="block flex flex-col px-6 my-3 items-center justify-center text-center w-full">
                    <h3 class="text-base font-medium leading-none text-secondary">Source</h3>
                    <p class="text-2xl font-semibold mt-2 leading-none font-roboto font-medium">Xitricon</p>
                </div>
                <div class="block flex flex-col px-6 my-3 items-center justify-center text-center w-full">
                    <h3 class="text-base font-medium leading-none text-secondary">Table Status</h3>
                    <p class="text-2xl font-semibold mt-2 leading-none font-roboto font-medium">Active <mat-slide-toggle disabled color="primary"></mat-slide-toggle></p>
                </div>
                <div *ngIf="data.action==='createValue'" class="block flex flex-col px-6 my-3 items-center justify-center text-center w-full">
                    <h3 class="text-base font-medium leading-none text-secondary">Dabase Unique ID</h3>
                    <p class="text-2xl font-semibold mt-2 leading-none font-roboto font-medium"></p>
                </div>
            </div>

            <!--input fields-->
            <div class="flex flex-col flex-wrap sm:flex-row items-center max-w-xs sm:max-w-none">
            <div class="mr-4">
            <mat-form-field *ngIf="data.action==='createTable' || data.action==='editTable'" class="fuse-mat-no-subscript fuse-mat-emphasized-affix sm:w-80 mt-4 sm:mt-0 mr-1 mb-3 px-2">
                <mat-label>Table Name</mat-label>
                <input matInput [(ngModel)]="Tname" >  
            </mat-form-field>
            <mat-form-field *ngIf="data.action==='createValue' || data.action==='editValue'" class="fuse-mat-no-subscript fuse-mat-emphasized-affix sm:w-80 mt-4 sm:mt-0 mr-1 mb-3 px-2">
                <mat-label>UI Code</mat-label>
                <input matInput [(ngModel)]="colName">  
            </mat-form-field>
            <mat-form-field *ngIf="data.action==='editValue'" class="fuse-mat-no-subscript fuse-mat-emphasized-affix sm:w-80 mt-4 sm:mt-0 mr-1 mb-3 px-2">
                <mat-label>Database Unique ID</mat-label>
                <input matInput [(ngModel)]="id">  
            </mat-form-field>
            <mat-form-field *ngIf="data.action==='createTable'" class="fuse-mat-no-subscript fuse-mat-emphasized-affix sm:w-80 mt-4 sm:mt-0 mr-1 mb-3">
                <mat-label>Source</mat-label>
                <mat-select>
                    <mat-option [value]="'xitricon'">XITRICON</mat-option>
                    <mat-option [value]="'ifs'">IFS</mat-option>
                    <ng-container>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="data.action==='createValue'" class="fuse-mat-no-subscript fuse-mat-emphasized-affix sm:w-80 mt-4 sm:mt-0 mr-1 mb-3">
                <mat-label>Parent (UI Code)</mat-label>
                <mat-select>
                    <mat-option></mat-option>
                    <ng-container>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            </div>
            </div>
            <mat-form-field class="w-full px-2">
                <mat-label>Description</mat-label>
                <input matInput [(ngModel)]="colDesc">    
            </mat-form-field>
            
        </div>
    </div>

    <!--buttons-->
    <div class="flex justify-end ml-auto p-6">
        <button *ngIf="data.action==='createTable'" class="w-40 mr-4" (click)="loadFile()" mat-button mat-raised-button [color]="'primary'">
            <span class="mx-8">Load from File</span>
        </button>
        <button type="button" class="sm:inline-flex mr-4" (click)="doAction()" mat-stroked-button [color]="'primary'">
            <span class="mx-8">Cancel</span>
        </button>
        <button class="sm:inline-flex mr-4" *ngIf="data.action==='createTable'" mat-raised-button [color]="'primary'">
            <span class="mx-8">Save</span>
       </button>
       <button class="sm:inline-flex mr-4" *ngIf="data.action==='editTable'" mat-raised-button [color]="'primary'" (click)="submit()">
            <span class="mx-8">Save</span>
       </button>
       <button class="sm:inline-flex mr-4" *ngIf="data.action==='editValue'" mat-raised-button [color]="'primary'" (click)="submitValue()">
            <span class="mx-8">Save</span>
       </button>
    </div>
</div>

<div class="min-w-full p-2" *ngIf="secondScreen">
   
    <div class="pb-1">
        <div class="text-3xl font-cairo font-bold mb-5 pl-1 pt-1">
           Load From File
        </div>
    </div>
    
    <div class="srm-bg mb-4 rounded-lg rounded-t-none">
    <div class="flex w-full pl-2 flex-col">
        <p class="mt-6 mb-2 font-medium text-l ">
            Create Table From CSV File (Follow the steps given below)
        </p>
        <p class="mt-6 mb-2 font-medium text-l ">
            1. Download the CSV Template from this link - <span class="link"> CSV UPLOAD TEMPLATE </span>
        </p>
        <p class="mt-2 mb-2 font-medium text-l ">
            2. Fill in the CSV Template and fields marked with (*) are Mandatory
        </p>
        <p class="mt-2 mb-2 font-medium text-l ">
            3. Load the Updated file
        </p>
        <div class="form-group pt-4 pl-5">
            <label for="file"></label>
            <input type="file"
            type="file" #file placeholder="Choose file">
        </div>
        </div>
        
        <!--button-->
        <div class="flex justify-end ml-auto p-6">
            <button class="sm:inline-flex mr-4" mat-raised-button [color]="'primary'">
                <span class="mx-8">Upload</span>
           </button>
        </div>
       
</div>
</div>