.attribute-Item {

    .attribute-items-parent-grid {
        border-top: 1px solid #eeeeee !important;
        border-bottom: 1px solid #eeeeee !important;
        font-weight: 500;
    }

    .attribute-items-inner-grid {
        grid-template-columns: 2% 15% 10% 15% 10% 10% 10% 10% 10% 10%;
    }
}

.mat-sort-header {
    font-weight: 600;
}


