<mat-label class="label" style="font-weight: 600;color: black;">{{item.label}} <span *ngIf="item.required">*</span>
</mat-label>
<mat-form-field appearance="fill" class="pt-2" [ngClass]="{'gray':view === false}">
    <mat-select [value]="item.value" [disabled]="!editable" (valueChange)="onSelectionChange($event)"
        placeholder="Country" [errorStateMatcher]="matcher" [required]="item.required">
        <mat-option *ngFor="let country of countryList" [value]="country?.countryCode">
            {{country?.description}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-error *ngIf="item.errors && item.errors.length && view">
    <div *ngFor="let error of item.errors">{{error.message}}</div>
</mat-error>
<mat-hint align="start" *ngIf="!(item.errors && item.errors.length)"><strong>{{item.hint}}</strong> </mat-hint>
