<div class="min-w-full p-2">
    <form class="flex flex-col w-full">
        <div class="pb-1">
            <div class="text-3xl font-cairo font-bold mb-6">
                Add Attribute Item
            </div>
        </div>
        <mat-dialog-content class="min-w-full relative mb-4">

            <!--table component-->
            <div class="srm-bg mb-4 rounded-lg rounded-t-none">
                <div class="p-4">

                    <div class="flex flex-wrap w-full justify-between items-center">
                        <div class="flex-col flex text-left header mr-4">
                            <span> Name</span>
                            <mat-form-field style="margin-top: 10px;">
                                <input matInput class="form-field" placeholder="Search by Name" #input
                                    [(ngModel)]="attributeName" name="attributeName">
                            </mat-form-field>
                        </div>
                        <div class="flex-col flex text-left header  mr-4">
                            <span> Description</span>
                            <mat-form-field style="margin-top: 10px;">
                                <input matInput class="form-field" placeholder="Search by Description" #input
                                    [(ngModel)]="description" name="description">
                            </mat-form-field>
                        </div>
                        <button class="mt-4" mat-stroked-button [color]="'primary'" (click)="searchItem()">
                            <mat-icon matPrefix class="icon-size-5 ml-8" [svgIcon]="'heroicons_solid:search'">
                            </mat-icon>
                            <span class="mr-8 ml-4">Search</span>
                        </button>
                    </div>
                </div>
                <div class=" mx-4">
                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>Selected line attribute(s)</mat-label>
                        <mat-chip-list #chipList aria-label="selection">
                            <mat-chip [disabled]="disabled" *ngFor="let x of selectedAttribute">
                                {{x}}
                            </mat-chip>
                        </mat-chip-list>
                    </mat-form-field>
                </div>
            </div>

            <!--base table component-->
            <div class="overflow-auto bg-gray-60 rounded-lg p-4">
                <div class="w-full font-helvetica text-gray-500">

                    <!-- Products list -->
                    <div class="flex flex-col flex-auto w-full">
                        <ng-container>
                            <ng-container>
                                <div class="grid attribute-items-parent overflow-x-auto w-full">
                                    <!-- Header -->
                                    <div class="attribute-items-parent-grid z-10 sticky top-0 grid gap-4 pt-4 pb-2 px-2 text-secondary"
                                        matSort (matSortChange)="sortData($event)" matSortDisableClear>
                                        <div></div>
                                        <div [mat-sort-header]="'item'">Item Name</div>
                                        <div [mat-sort-header]="'description'">Description</div>
                                        <div></div>
                                    </div>
                                    <!-- Rows -->
                                    <ng-container *ngIf="attributeModel && attributeModel.length > 0">
                                        <ng-container *ngFor="let attr of attributeModel">
                                            <div
                                                class="attribute-items-parent-grid grid items-center gap-4 py-px px-2 custom-tbl-row">
                                                <div class="truncate">
                                                    <mat-checkbox [color]="'primary'" [checked]="attr.isChecked"
                                                        [(ngModel)]="attr.isChecked" name="{{attr.id}}-isChecked"
                                                        (change)="showOptions($event, attr.attributeName)" [disabled]="attr.ischeckdisabled">
                                                    </mat-checkbox>
                                                </div>
                                                <div class="truncate">{{attr.attributeName}}</div>
                                                <div class="truncate">{{attr.description}}</div>

                                                <div class="ml-auto">
                                                    <button class="px-2 leading-6" mat-icon-button
                                                        *ngIf="NewListId.length==0 " (click)=toggleDisplay(attr.id)>
                                                        <mat-icon color="primary" class="icon-size-6"
                                                            [svgIcon]="isShow? 'heroicons_outline:arrow-circle-up': 'heroicons_outline:arrow-circle-down'">
                                                        </mat-icon>
                                                    </button>
                                                </div>
                                            </div>

                                            <div>
                                                <ng-container *ngIf="getActiveDetailsTab(attr.id)">
                                                    <div class="overflow-hidden">
                                                        <div class="flex">
                                                            <!-- Selected product details panel -->
                                                            <div class="overflow-auto srm-bg rounded-lg mt-4 w-full">
                                                                <div class="grid pl-8 attribute-items-inner">
                                                                    <!-- Header -->
                                                                    <div class="attribute-items-inner-grid custom-tbl-header grid gap-4 pt-2 pb-2 px-2 text-secondary"
                                                                        matSort matSortDisableClear>
                                                                        <div></div>
                                                                        <div [mat-sort-header]="'List_Name'">List Name
                                                                        </div>

                                                                    </div>
                                                                    <!-- Rows -->
                                                                    <ng-container>
                                                                        <ng-container>
                                                                            <div *ngFor="let attrGroup of attr.attributeGroupModels;let i=index"
                                                                                class="attribute-items-inner-grid grid items-center gap-4 px-2 custom-tbl-row">
                                                                                <div class="truncate"
                                                                                    *ngIf="attrGroup.isDisplay">
                                                                                    <mat-checkbox [color]="'primary'"
                                                                                        [checked]="attrGroup.isChecked"
                                                                                        [(ngModel)]="attrGroup.isChecked"
                                                                                        name="{{attrGroup.id}}-{{attr.id}}-ischecked" [disabled]="attrGroup.isdisable">
                                                                                    </mat-checkbox>
                                                                                </div>
                                                                                <div class="truncate"
                                                                                    *ngIf="attrGroup.isDisplay">
                                                                                    {{attrGroup.name}}
                                                                                </div>
                                                                            </div>
                                                                        </ng-container>
                                                                    </ng-container>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>

                            </ng-container>
                        </ng-container>

                        <ng-template #noProducts>
                            <div class="p-8 sm:p-16 text-4xl font-semibold tracking-tight text-center">There are no
                                products!</div>
                        </ng-template>

                    </div>

                </div>
                <mat-paginator class="flex text-base justify-end" [length]="attributeSearchModel.totalItems"
                    [pageSize]="attributeSearchModel.pageSize" [pageSizeOptions]="[5,10,15,20,25,100]"
                    (page)="pageEvent=$event;OnPaginateChange($event)" showFirstLastButtons>
                </mat-paginator>
            </div>

            <div class="flex flex-col justify-start mt-5">
                <div class="flex align-center text-warn font-medium mb-2" *ngIf="iserror">
                    <mat-icon [svgIcon]="'heroicons_outline:check-circle'" class="mr-2 text-warn"></mat-icon>
                    <span>{{'Successfully saved'}}</span>
                </div>
                <div class="flex align-center text-green font-medium mb-2" *ngIf="issuccess">
                    <mat-icon [svgIcon]="'heroicons_outline:check-circle'" class="mr-2 text-green"></mat-icon>
                    <span>{{'Something went wrong'}}</span>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions class="flex justify-end sticky bottom-0">
            <button mat-button mat-dialog-close [color]="'primary'" (click)="doAction()" type="button">
                <span class="mx-4">Cancel</span>
            </button>
            <button class="sm:inline-flex ml-4" mat-raised-button [color]="'primary'" type="submit"
                (click)="SaveItem()" [disabled]="isSaved" >
                <span class="mx-4">Add Attribute Items</span>
            </button>
        </mat-dialog-actions>
    </form>

</div>